
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    font-family: 'Inter', Helvetica, sans-serif;
    color: black;
    margin: 0 10% 0 10%;
	padding:1%;
    font-weight: 400;
    font-size: 18px;
}

p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}

h1{
	font-weight: 700;
    font-size: 40px;
}

h2{
    font-weight: 500;
    font-size: 34px;
}

h3{
    font-weight: 400;
    font-size: 24px;
}
    

p, h1, h2, h3, .skip {
    padding: 10px;
}

nav{
	border-bottom: 2px solid grey;
	margin-bottom: 15px;
    padding: 10px 0 20px 0;
}

footer{
    border-top: 2px solid grey;
}

.skip{
    color: black;
}

/* 4. Style the links to in your site - make sure to indicate which one is the current page */

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav a:hover {
    color: #515151;
}

.skip:hover{
    color: #515151;
}

.active{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    padding: 8px;
}

a:visited{color: black}
a:link{text-decoration: none}

/* 5. Add style to your images focusing on the box model. */

div img{
    margin: 12px;
    width: 325px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

/* 6. Add a hover style to your images */ 

div img:nth-child(even):hover{
    box-shadow: 5px 5px black;
    filter: hue-rotate(45deg);
    transition: box-shadow 0.2s ease-in-out;
}

.flags_one img:hover:nth-child(3n){
    box-shadow: 5px 5px tan;
    border: 3px solid #654321;
    transition: box-shadow 0.2s ease-in-out;
}

.flags_two img:hover:nth-child(3n){
    box-shadow: 5px 5px tan;
    border: 3px solid #654321;
    filter: hue-rotate(45deg);
    transition: box-shadow 0.2s ease-in-out;
}

.flags_three img:hover:nth-child(3n){
    box-shadow: 5px 5px tan;
    border: 3px solid #654321;
    filter: grayscale(50%);
    transition: box-shadow 0.2s ease-in-out;
}

